<div class="relative min-h-screen">
  <div class="absolute inset-0">
    <img src="/assets/frost.jpg" alt="Background" class="object-cover w-full h-full custom-blur" />
  </div>

  <header class="flex items-center justify-between p-5 relative z-10">
    <div class="logo">
        <a href="#">
            <img src="/assets/frost-logo.png" alt="Logo" class="h-14 w-70" />
        </a>
    </div>

    <nav>
      <ul class="flex space-x-10">
        <li><a href="#" class="nav-link hover:text-gray-300">Home</a></li>
        <li><a href="#" class="nav-link hover:text-gray-300">Features</a></li>
        <li><a href="#" class="nav-link hover:text-gray-300">Chatbot</a></li>
        <li><a href="#" class="nav-link hover:text-gray-300">Support</a></li>
        <li><a href="#" class="nav-link hover:text-gray-300">Blog</a></li>
      </ul>
    </nav>

    <div class="login-button">
      <button class="text-white font-bold py-2 px-10 rounded">
        Login
      </button>
    </div>
  </header>

</div>
