body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo image {
    height: 50px;
    width: 50px;
}

.login-button {
    margin-right: 20px;
}